.app {
  max-width: 1500px;
  margin: 0 auto;
  padding: 4px 14px;
  border-radius: 10px;
  background: linear-gradient(
    109.6deg,
    #119793 11.2%,
    rgb(154, 214, 212) 55.4%,
    rgb(255, 233, 171) 100.2%
  );
}
